body{
    width: 100%;
    max-width: 100%;
    font-family: fantasy,cursive;
    margin: 0;
    max-height: 100vh;
}
.wrapper{
    display: grid;
    grid-template-columns: 30vh auto;
    height: 100vh;
}
.wrapper-game{
    background: url(img/here-comes-the-boom640px.gif) no-repeat;
    background-size: cover;
}
.conteiner{
    margin-top: 3em;
}

.navbar-nav li{
    margin-top:2em;
}
.game{
    text-align: center;
    
}
.game h1{
    font-size: 50pt;
    color: #5acc65;
}
.record{
    color: #fff;
    font-size: 18pt;
}
.write-name{
    width: 15em;
    height: 3em;
    border-radius: 30px;
    border: none;
    
    background: linear-gradient(45deg, #5accbf, #5acc65);
    color: #fff;
    font-size: 15pt;
    padding-left: 2em;
}
input.write-name::placeholder{
    color: #fff;
}
.play{
    width: 190px;
    height: 190px;
    background: linear-gradient(45deg, #23469e, #a85acc);
    box-shadow: 5px 5px 15px #000;
    margin: 3em auto;
    border-radius: 80%; 
}
.play img{
    width: 200px;
    height: 200px;
}
.additionally{
  display: flex;
  justify-content: space-between;
  margin: 10vh 3vh 0 3vh;
}
.full-screen{
    background: url(img/full-screen-interface-symbol-of-four-arrows-in-square-button_icon-icons.com_73244.png);
    cursor: pointer;
    width: 6em;
    border: none;
}
.menu{
    width: 30vh;
    background: #f0ebeb;
}