<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Serpentine</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' media='screen' href='snake.css'>
</head>
<body>
        <nav class="navbar navbar-expand-lg bg-light">
                <a class="navbar-brand" href="#">Serpentine</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#hidd" aria-controls="hidd"
                    aria-expanded="false" aria-label="Toggle navigation">
                    MENU
                </button>    
                <div class="collapse navbar-collapse justify-content-center" id="hidd">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#">SomeText</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">SomeText</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">SomeText</a></li>
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                                   SomeText
                                </a>
                                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">SomeText</a>
                                    <a class="dropdown-item" href="#">SomeText</a>
                                </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">SomeText</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">SomeText</a></li>
                    </ul>
                </div>
            </nav>
    <div class="wrapper">
        <div class="game">
           </svg>
            <h1>Serpentine</h1>
            <div class="record">
                <p>Your final length was<span class="score"> </span></p>
                <p>Your best length ever was<span class="best-score"></span></p>
            </div>
            <div class="name"><input class="write-name" type="text" placeholder="your name"></div> 
            <div class="play">
                <a class="start" href="#"><img src="img/1486348532-music-play-pause-control-go-arrow_80458.png"></a>
            </div>
            <div class="additionally">
                <a class="color" href="#"><img src="img/RGB_Circle_1-80_icon-icons.com_57282.png"></a>
                <button type="submit" class="full-screen"><img src="img/full-screen-interface-symbol-of-four-arrows-in-square-button_icon-icons.com_73244.png"></button>
            </div>
        </div>
    </div>
    <script src='snake.js'></script>
</body>
</html>