.menu{
    margin: 0;
    background: #f0ebeb;
    height: 100vh;
    position: relative;
}
a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin-top: 40px;
}
.wrapper-modes{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 10vh auto;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    padding-bottom: 50px;
}
.modes-control{
    position: relative;
    text-align: center;
    margin-left: 0;
    margin-top: 1em;
    padding-left: 0;
}
.modes-control button{
    width: 72px;
    height: 72px;
    background: url(img/Menu_icon_icon-icons.com_71858.png);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 0;
}
.modes{
    /* opacity: 0; */
    transition: all ease 1s;
    position: relative;
    left: 0px;
    margin-top: 5px;
    text-align: center;
    /* border-left: 5px solid black; */
}
.logo{
    width: 64px;
    height: 64px;
    background: url(img/snake_38881.png);
    position: absolute;
    top: 25%;
    right: 25%;
}
.bg-logo{
    width: 124px;
    height: 124px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    background: #b06d6d;
    box-shadow: 0 0 7px #b06d6d;
    margin-top: 10px;
}
.chat{
    margin-top: 3em;
    padding: 1em 0 1em 0;
    height: 50vh;
    border-top: 5px solid black;
}
.wrapper-chat{
    display: grid;
    grid-template-columns: 7vh 45vh;
}
.communication{
    height: 45vh;
    margin-left: 1em;
    transition: all ease 1s; 
    /* opacity: 0; */
}
.communication input{
    height: 5vh;
    width: 43vh;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    box-shadow: 3px 3px 7px black;
}
.window-chat{
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
    height: 45vh;
    box-shadow: 0 3px 7px black;
    border-bottom: none;
}
.hidden-chat{
    position: relative;
    
}
.hidden-chat button{
    width: 72px;
    position: absolute;
    top: 40%;
    left: 0;
    height: 72px;
    background: url(img/right_icon-icons.com_61212.png);
    border: none;
    transform: rotate(180deg);
    transition: all ease 1s; 
}

.page-one{
    background: #d4c7c7;
    padding: 0 1em;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/* страница 2 */



.page-two{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    z-index: 3;
    background: #d4c7c7;
    z-index: 1;
}
/*  */
.usually{
    background: url(img/62963crossedswords_109255.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.duel{
    background: url(img/duel_38698.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.regulation{
    background: url(img/cancelviewmodes_99683.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.options{
    background: url(img/construction_project_plan_building_architect_design_develop-57_icon-icons.com_60216.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.report{
    background: url(img/1492608052-16-gmail-email-mail-communication-message-service_83380.png);
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.check-menu{
    width: 50px;
    height: 30px;
    margin: 0 auto;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cricle{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 100%;
    margin: 0 auto;
    cursor: pointer;
}
.active{
    background: #1f43f2;
}